form{
    margin: 20px;
    width: fit-content;
    margin: auto;
}

label, textarea{
    letter-spacing: 2px;
}

label{
    display: block;
    margin-bottom: 10px;
}

p{
    text-align: right;
}

/* textarea{
    width: 100px;
} */