form {
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
    font-size: 1rem;
    font-family: "Arial", sans-serif;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #222;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

textarea {
    width: 95%;
    height: 120px;
    padding: 12px;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    resize: none;
    background: #f8f8f8;
    transition: all 0.2s ease-in-out;
}

textarea::placeholder{
    font-size: 0.75em;
    color: silver;
}

textarea:focus {
    border: 1px solid #007bff;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
}

.button {
    text-align: center;
    margin-top: 20px;
}

button {
    background: dimgray;
    color: white;
    font-size: 16px;
    padding: 12px 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    letter-spacing: 1px;
}

button:hover {
    background: dimgray;
    transform: scale(1.05);
}

canvas{
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}